{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The big featured header }}
<header class="main-header no-cover" style="background-color:#007ACC">
    <nav class="main-nav overlay clearfix">
        {{#if @blog.logo}}<a class="blog-logo" href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="Blog Logo" /></a>{{/if}}
        <a class="subscribe-button icon-twitter" href="https://twitter.com/ArquitetoMovel/" target="_blank">Seguir</a>
        <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            {{!@blog.title}}
                <img style="margin-left: 10px;" alt="Arquiteto Móvel"  src="{{asset "img/0-82x82.png"}}" />
            <h2 class="page-description">{{@blog.description}}</h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

{{! The main content area on the homepage }}
<main id="content" class="content" role="main">

    {{! The tag below includes the post loop - partials/loop.hbs }}
    {{> "loop"}}

</main>